* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/* Navigational Bar */

body {
    font-family: 'Inter';
}

#moblie {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(84, 51, 51);
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 99;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px;
    margin-right: 20px;
    font-size: 2rem;
}

ul {
    margin-right: 30px;
}

li {
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-weight: 500;
    margin-left: 20px;
}

#title {
    cursor: default;
}

/*.title {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-left: 50px;
}

 nav {
    position: fixed;
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav ul {
    list-style: none;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    margin-right: 10px; 
    
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(215, 221, 227);
    font-size: 1.5rem;
    font-weight: 500;
    height: 10vh;
    border: 1px red solid;

}

nav li:hover {
    background-color: white;
    color: black;
    
}

nav li:hover a {
    background-color: white;
    color: black;
}  */

/* About Section */

#about {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    
}

#about a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 15px;
}

#about img {
    width: 350px;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
}

/* Gallery */

#gallery {
    height: auto;
    background-color: rgb(20, 20, 20);
    color: white;
}

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* Contact Form */


.box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 90vh;
}

#contact {
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 90%;
}

#info, #submit {
    margin-top: 40px;
    margin-bottom: 40px;
}

#info h1 {
    margin: 10px;
}

#info p {
    margin: 20px;
}

#submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder {
    font-size: 1rem;
    padding-left: 10px;
}

.message {
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}

.message::placeholder {
    font-size: 1rem;
}

.button {
    margin: 10px;
    width: 100px;
    border-radius: 20px;
    background-color: black;
    font-size: 1rem;
    color: white;
}

#submit .button {
    float: left;
}

/* Footer */


footer {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 50px;

}

footer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
}

#social a {
    margin: 40px;
}

#facebook {
    background-color: rgb(20, 20, 20);
    padding: 5px;
    width: auto;
    text-align: center;
    font-size: 1.25rem;
    border-radius: 15px;
    width: 70px;
    border-radius: 50%;
    
}

#insta {
    background-image: linear-gradient(135deg, rgb(243, 153, 26), rgb(102, 37, 233));
    padding: 5px;
    width: 50px;
    font-size: 1.25rem;
    border-radius: 50%;
}

