* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/* Navigational Bar */

body {
    font-family: 'Inter';
}

#moblie {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(84, 51, 51);
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 99;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    font-size: 1.75rem;
    font-weight: 200;
}

ul {margin-right: 30px;
    
}

li {
    display: inline;
    list-style: none;
    margin: 10px;
    /* padding: 10px; */
    height: 100%;
}

li a:hover {  
    text-decoration: 1.5px white underline;
    text-underline-offset: 10px;
}
a {
    text-decoration: none;
    color: white;
    height: 100%;
}

.title { margin-left: 80px;}

#title { 
    cursor: default;
    font-weight: 300;
}

/*.title {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-left: 50px;
}

 nav {
    position: fixed;
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav ul {
    list-style: none;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    margin-right: 10px; 
    
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(215, 221, 227);
    font-size: 1.5rem;
    font-weight: 500;
    height: 10vh;
    border: 1px red solid;

}

nav li:hover {
    background-color: white;
    color: black;
    
}

nav li:hover a {
    background-color: white;
    color: black;
}  */

/* About Section */

#about {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    
}

#about a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 15px;
    font-weight: 300;
}

#about img {
    width: 500px;
    margin-right: 50px;
}

h1 {
    font-weight: 300;
    font-size: 3rem;
}

/* Gallery */

#gallery {
    height: auto;
    background-color: rgb(20, 20, 20);
    color: white;
}

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* Contact Form */


.box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 90vh;
}

#contact {
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 90%;
}

#info, #submit {
    margin-top: 40px;
    margin-bottom: 40px;
}

#info h1 { margin: 10px;}

#info p { margin: 20px;}

#submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder {
    font-size: 1rem;
    padding-left: 10px;
}

.message {
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
}

.message::placeholder { font-size: 1rem;}

#info svg {
    width: 20px;
    padding-top: 10px;
}

#info p {
    /* border: 1px black solid; */
    padding-bottom: 10px;
}

.button {
    margin: 10px;
    width: 100px;
    border-radius: 20px;
    background-color: black;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

#submit .button { float: left;}

/* Footer */

footer { 
    background-color: rgb(12, 12, 12);
    height: 30vh;
    padding-top: 15px;
}

footer svg {
    fill: rgb(255, 255, 255);
    width: 30px;
    margin: 10px;
}

footer h1, h2 {
    color: white;
    font-weight: 100;
    text-align: center;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



